<ion-header-bar align-title="left" class="bar-assertive">
  <div class="buttons">
    <button class="button button-icon icon ion-ios7-arrow-back" ng-click="goBack()"></button>
	
  </div>
  <h1 class="title title-left"><img src="lib/ionic/img/logo_tb_small.png" alt="tixbox.com" class="logoS"> TIXCART</h1>
  <div class="buttons">
	<button class="button button-icon icon ion-ios7-settings-strong" ng-click="showProfile()"></button>
  </div>
</ion-header-bar>
<ion-view title="Cart Page">
    <ion-content>

    <div class="ifcont">
        <iframe ng-src="{{cartpage}}" class="iframeBoxN" data-tap-disabled="true"></iframe>
    </div>

	</ion-content>         
</ion-view>
