<ion-header-bar align-title="left" class="bar-assertive">
  <div class="buttons">
    <button class="button button-icon icon ion-navicon" ng-click="showCategory()" style="margin-left:-18px;"></button>
     </div>
  <h1 class="title title-left"><img src="lib/ionic/img/logo_tb_small.png" alt="tixbox.com" class="logoS"> EVENTS</h1>
  <div class="buttons">
    <button class="button button-icon icon ion-ios7-cart" ng-if="cart.length >= 1" ng-click="showCart()"></button>
    <button class="button button-icon icon ion-ios7-settings" ng-click="showProfile()"></button>
  </div>
</ion-header-bar>
<ion-view title="Event">
  <ion-content class="praveen">
    <div class="eveListItem" ng-repeat="data in events | filter:catfilter">
      <div class="eveImage"> <a href="#/event/{{data.Event.event_id}}"><img src="{{data.Event.image}}"></a> </div>
      <div class="row eveDets">
        <div class="col col-80">
          <a href="#/event/{{data.Event.event_id}}"><h2 class="home_eventTitle">{{data.Event.title}}</h2>
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="170" align="left"><i class="icon ion-calendar red zico"></i> <span style="color:#777;">{{data.Event.date}}</span></td>
              <td align="left"><i class="icon ion-ios7-location red zico"></i> <span style="color:#777;">{{data.Event.address.city_id}}</span></td>
            </tr>
          </table>
          </a>
        </div>
        <div class="col"><a class="button button-block button-assertive listbuybut" href="#/event/{{data.Event.event_id}}/datetime">BUY</a></div>
      </div>
    </div>
  </ion-content>
</ion-view>
