<ion-header-bar align-title="left" class="bar-assertive">
  <div class="buttons">
    <button class="button button-icon icon ion-ios7-arrow-back" ng-click="goBack()"></button>
  </div>
  <h1 class="title title-left"><img src="lib/ionic/img/logo_tb_small.png" alt="tixbox.com" class="logoS"> SELECT DATE &amp; TIME</h1>
  <div class="buttons">
    <button class="button button-icon icon ion-ios7-cart" ng-if="cart.length >= 1" ng-click="showCart()"></button>
    <button class="button button-icon icon ion-ios7-settings" ng-click="showProfile()"></button>
  </div>
</ion-header-bar>
<ion-view title="Event Details">
  <ion-content>
    <div class="padtty">
      <div class="clearfix selectDate">
        <h1 class="eventTitle">{{data.event.title}}</h1>
        <p><span class="fwi11"><i class="icon ion-ios7-location red zico"></i></span> <span>{{data.event.event_address.address}}</span></p>
        <a href="#/event/{{data.event.event_id}}/details">SEE MORE DETAILS</a>
      </div>
      <hr class="light"/>
      <div class="selectDTbox clearfix"> <a href="#/event/{{event_dates.event_id}}/tickets/{{event_dates.event_date_id}}" class="evedtBox" ng-repeat="event_dates in data.event_dates"> <span class="eveMY">{{event_dates.eveMonth}}</span> <span class="eveDate">{{event_dates.eveDate}}</span> <span class="eveDay">{{event_dates.eveDay}}</span> <span class="eveTime">{{event_dates.eveStartTime}}</span> </a> </div>
    </div>
    </div>
  </ion-content>
</ion-view>
