<ion-header-bar align-title="left" class="bar-assertive">
  <div class="buttons">
    <button class="button button-icon icon ion-ios7-arrow-back" ng-click="goBack()"></button>
  </div>
  <h1 class="title title-left"><img src="lib/ionic/img/logo_tb_small.png" alt="tixbox.com" class="logoS"> SELECT TICKET(S)</h1>
  <div class="buttons">
    <button class="button button-icon icon ion-ios7-cart" ng-if="cart.length >= 1" ng-click="showCart()"></button>
    <button class="button button-icon icon ion-ios7-settings" ng-click="showProfile()"></button>
  </div>
</ion-header-bar>
<ion-view title="Event Details">
  <ion-content class="has-footer">
    <div class="padtty">
      <div class="clearfix selectTckt">
        <div class="evedet">
          <h1 class="eventTitle">{{data.event.title}}</h1>
          <p><span class="fwi11"><i class="icon ion-ios7-location red zico"></i></span> <span>{{data.event.event_address.address}}</span></p>
          <a href="#/event/{{data.event.event_id}}/details">SEE MORE DETAILS</a>
        </div>
        <a href="" class="evedtBox" ng-repeat="event_dates in data.event_dates" ng-if="event_dates.event_date_id == event_date_id"> <span class="eveMY">{{event_dates.eveMonth}}</span> <span class="eveDate">{{event_dates.eveDate}}</span> <span class="eveDay">{{event_dates.eveDay}}</span> <span class="eveTime">{{event_dates.eveStartTime}}</span> </a> </div>
      <hr class="light"/>
      <div class="list" ng-repeat="ticket in data.event.ticket">
        <div class="home_eventTitle mbten">{{ticket.ticket_name}}</div>
        <label class="item item-input item-select">
        <div class="input-label"> AED {{ticket.price}} </div>
        <select ng-model="selected" name="tickets" id="tickets_{{ticket.event_ticket_id}}" class="sell_tickets" price="{{ticket.price}}" event_ticket_id="{{ticket.event_ticket_id}}"  event_id="{{ticket.event_id}}" ng-bind-html="selectBox(ticket.buy_min_limit,ticket.buy_max_limit)" ng-change="updatePrice(ticket.event_ticket_id,ticket.price)">
        </select>
        </label>
      </div>
    </div>
  </ion-content>
</ion-view>
<div class="bar bar-footer bar-assertive">
  <button class="button button-clear"><span class="tprice11">AED {{total}}</span></button>
  <div class="title title-left"></div>
  <button class="button button-outline button-light" ng-click="buy()"> Buy Now </button>
</div>
