<ion-header-bar align-title="left" class="bar-assertive">
  <div class="buttons">
    <button class="button button-icon icon ion-ios7-arrow-back" ng-click="goBack()"></button>
  </div>
  <h1 class="title title-left"><img src="lib/ionic/img/logo_tb_small.png" alt="tixbox.com" class="logoS"> {{data.event.title}}</h1>
  <div class="buttons">
    <button class="button button-icon icon ion-ios7-cart" ng-if="cart.length >= 1" ng-click="showCart()"></button>
    <button class="button button-icon icon ion-ios7-settings" ng-click="showProfile()"></button>
  </div>
</ion-header-bar>
<ion-view title="EventPage">
  <ion-content>
    <div class="eventpage">
      <ion-slide-box on-slide-changed="slideHasChanged($index)" ng-if="image.large">
        <ion-slide ng-repeat="image in image.large">
          <div class="box"><img src="{{image}}" class="eveimg"></div>
        </ion-slide>
      </ion-slide-box>
      <div class="evedets padten clearfix"> <a class="button button-block button-assertive nm no-radius11" href="#/event/{{data.event.event_id}}/datetime">BUY TICKETS</a>
        <div class="well-bg mttty">
          <h1 class="eventTitle">{{data.event.title}}</h1>
          <p ng-bind-html="data.event.short_description"></p>
          <p><span class="locico"><i class="icon ion-calendar"></i></span> <span>{{data.event.start_date}}</span></p>
          <p><span class="locico"><i class="icon ion-ios7-location"></i></span> <span>{{data.event.event_address.address}}</span></p>
          <p><span class="locico"><i class="icon ion-map"></i></span> <span>{{data.event.event_address.city_id}}</span></p>
          <div class="mttty"> <a href="#/event/{{data.event.event_id}}/details" class="button icon-right ion-chevron-right button-outline button-block button-stable"> See More Details </a> </div>
        </div>
        <!--<hr class="light" />
        <div class="ytvideo">
        <a href="//www.youtube.com/embed/{{ data.event.video }}" target="_blank" class="button button-block button-outline button-assertive">Watch event video</a>
        </div>-->
      </div>
    </div>
  </ion-content>
</ion-view>
