<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
<title>customer app</title>
<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
<link href="lib/ionic/css/ionic.css" rel="stylesheet">
<link href="lib/ionic/css/style.css" rel="stylesheet">
<script src="lib/ionic/js/ionic.bundle.js"></script>
<script src="js/app.js"></script>
<script src="lib/ionic/js/ionic.bundle.min.js"></script>
<script src="lib/ionic/js/underscore.js"></script>
</head>
<body ng-controller="AppController">

<ion-nav-view animation="none"></ion-nav-view>

<script id="splash.html" type="text/ng-template">
	<ion-nav-bar></ion-nav-bar>
	<ion-content style="background-position: 50% 50%;; background-image: url('lib/ionic/img/logo.png'); background-repeat: no-repeat;">
	</ion-content>          
</script> 

<script id="login.html" type="text/ng-template">
	<ion-nav-bar></ion-nav-bar>
	<ion-view title="Login">
		<ion-content>
		<div class="list">
		<label class="item item-input">
		<span class="input-label">Username</span>
		<input type="text">
		</label>
		<label class="item item-input">
		<span class="input-label">Password</span>
		<input type="password">
		</label>
		</div>
		<a class="item item-thumbnail-left" href="#/events/1">Events</a>
		</ion-content>          
	</ion-view>
</script> 

<script id="events.html" type="text/ng-template">
<ion-side-menus>
	
	
	<ion-side-menu-content>
	
	<ion-header-bar align-title="left" class="bar-assertive">
	  <div class="buttons">
		<button class="button button-icon icon ion-navicon" ng-click="showCategory()"></button>
		<img src="lib/ionic/img/logo_tb_small.png" alt="tixbox.com">
	  </div>
	  <h1 class="title title-left">Events</h1>
	  <div class="buttons">
		<button class="button button-icon icon ion-ios7-cart"></button>
		<button class="button button-icon icon ion-ios7-gear"></button>
		<button class="button button-icon icon ion-ios7-person"></button>
	  </div>
	</ion-header-bar>
	
	<ion-view title="Event">
		<ion-content class="praveen">
		
				<div class="eveListItem" ng-repeat="data in events">
				<div class="eveImage"> <img src="{{data.Event.image}}"> </div>
				<div class="row eveDets">
					  <div class="col col-80">
					  	<h2 class="home_eventTitle">{{data.Event.title}}</h2>
						<i class="icon ion-calendar"></i> &nbsp;<span>{{data.Event.date}}</span>
					  </div>
					  <div class="col"><a class="button button-block button-assertive" href="#/event/{{data.Event.event_id}}">BUY</a></div>
					</div>
				</div>
				
		</ion-content>          
	</ion-view>
	</ion-side-menu-content>
	
	
	<ion-side-menu side="left">
		<ion-header-bar><h1 class="title">Categories</h1></ion-header-bar>
		
		<ion-content>
			<ion-list>
				<a href="#/events/1" class="item">Arts & Theater</a>
				<a href="#/events/2" class="item">Family</a>
				<a href="#/events/3" class="item">Sports</a>
				<a href="#/events/4" class="item">Night Club</a>
			</ion-list>
		</ion-content>
	</ion-side-menu>

</ion-side-menus>	
</script> 

<script id="event-page.html" type="text/ng-template">
<ion-header-bar align-title="left" class="bar-assertive">
  <div class="buttons">
    <button class="button button-icon icon ion-ios7-arrow-back" ng-click="goBack()"></button>
	<img src="lib/ionic/img/logo_tb_small.png" alt="tixbox.com">
  </div>
  <h1 class="title title-left"></h1>
  <div class="buttons">
    <button class="button button-icon icon ion-ios7-cart"></button>
    <button class="button button-icon icon ion-ios7-gear"></button>
	<button class="button button-icon icon ion-ios7-person"></button>
  </div>
</ion-header-bar>
	<ion-view title="EventPage">
		<ion-content>
		<div class="eventpage">
		<ion-slide-box on-slide-changed="slideHasChanged($index)" ng-if="image.large">
			  
			  <ion-slide ng-repeat="image in image.large">
				<div class="box"><img src="{{image}}" class="eveimg"></div>
			  </ion-slide>
			  
		</ion-slide-box>
		
	    <div class="evedets padtty clearfix">
			<h1 class="eventTitle">{{data.event.title}}</h1>
			<p ng-bind-html="data.event.short_description"></p>
			<hr class="light">
			<div>
			<div class="detTabHeadhold">
				<h2 class="detTabHead_new">Event Details</h2>
				<div class="tinys_wrapper"></div>
				</div>
			<p><i class="icon ion-calendar"></i> <span>{{data.event.start_date}}</span></p>
			<p><i class="icon ion-ios7-location"></i> <span>{{data.event.event_address.address}}</span></p>
			<p><i class="icon ion-star"></i> <span>{{data.event.event_address.city_id}}</span></p>
			<div>
			<a href="#/event/{{data.event.event_id}}/details" class="button icon-right ion-chevron-right button-outline button-block button-stable">
			  See More Details
			</a>
			</div>
			</div>
			<hr class="light">
			<div class="evepkgs">
				<div class="detTabHeadhold">
					<h2 class="detTabHead_new">Select Tickets</h2>
					<div class="tinys_wrapper"></div>
				</div>
				
				<div class="list" ng-repeat="ticket in data.event.ticket">
					<div class="home_eventTitle mbtty">{{ticket.ticket_name}}</div>
					  <label class="item item-input item-select">
						<div class="input-label">
						  AED {{ticket.price}}
						</div>
						<select ng-model="selected" name="tickets" id="tickets_{{ticket.event_ticket_id}}" class="sell_tickets" price="{{ticket.price}}" event_ticket_id="{{ticket.event_ticket_id}}"  ng-bind-html="selectBox(ticket.buy_min_limit,ticket.buy_max_limit)" ng-change="updatePrice(ticket.event_ticket_id,ticket.price)"></select>
					  </label>
				</div>
				
				
			</div>
			<hr class="light">
			<div class="mbtty text-center"><span class="tprice">AED {{total}}</span></div>
			<button class="button button-block button-assertive">
			  Buy Now
			</button>
			<hr class="light">
			
		</div>
		
		
		
		</div>
		</ion-content>          
	</ion-view>
</script>





<script id="event-page-details.html" type="text/ng-template">
<ion-header-bar align-title="left" class="bar-assertive">
  <div class="buttons">
    <button class="button button-icon icon ion-ios7-arrow-back" ng-click="goEventPage()"></button>
	<img src="lib/ionic/img/logo_tb_small.png" alt="tixbox.com">
  </div>
  <h1 class="title title-left"></h1>
  <div class="buttons">
    <button class="button button-icon icon ion-ios7-cart"></button>
    <button class="button button-icon icon ion-ios7-gear"></button>
	
  </div>
</ion-header-bar>
<ion-view title="Event Details">
		<ion-content>
<div class="card">		
<div class="detTabHeadhold">
<h2 class="detTabHead_new">Event Description</h2>
<div class="tinys_wrapper"></div>
</div>

<!--Event Description-->
<div ng-bind-html="data.event.description"></div>

</div>

<div class="card">	
<div class="detTabHeadhold">
<h2 class="detTabHead_new">Terms &amp; Conditions</h2>
<div class="tinys_wrapper"></div>
</div>		

<!--Event Terms Condition-->
<div ng-bind-html="data.event.terms_condition"></div>

</div>

			
		</ion-content>          
	</ion-view>
</script>





<script id="cart.html" type="text/ng-template">
<ion-header-bar align-title="left" class="bar-assertive">
  <div class="buttons">
    <button class="button button-icon icon ion-navicon"></button>
	<img src="lib/ionic/img/logo_tb_small.png" alt="tixbox.com">
  </div>
  <h1 class="title title-left"></h1>
  <div class="buttons">
    <button class="button button-icon icon ion-ios7-cart"></button>
    <button class="button button-icon icon ion-ios7-gear"></button>
	
  </div>
</ion-header-bar>
	<ion-view title="Cart Page">
		<ion-content>
				<div class="list card">
				
					<div class="item item-thumbnail-left">
					  <img src="lib/ionic/img/cart1.jpg">
					  <h2>Pretty Hate Machine</h2>
					  	<p><i class="icon ion-calendar"></i> <span>Nov 7, 2014, Friday</span></p>
						<p><i class="icon ion-clock"></i> <span>7:00 PM-1:00 AM</span></p>
						<p><i class="icon ion-pricetag"></i> <span>AED 299.00</span></p>
					</div>
				
					<div class="item item-thumbnail-left">
					  <img src="lib/ionic/img/cart2.jpg">
					  <h2>Pretty Hate Machine</h2>
					  <p><i class="icon ion-calendar"></i> <span>Nov 7, 2014, Friday</span></p>
						<p><i class="icon ion-clock"></i> <span>7:00 PM-1:00 AM</span></p>
						<p><i class="icon ion-pricetag"></i> <span>AED 299.00</span></p>
					</div>
					
					<div class="item item-thumbnail-left">
					  <img src="lib/ionic/img/cart3.jpg">
					  <h2>Pretty Hate Machine</h2>
					  <p><i class="icon ion-calendar"></i> <span>Nov 7, 2014, Friday</span></p>
						<p><i class="icon ion-clock"></i> <span>7:00 PM-1:00 AM</span></p>
						<p><i class="icon ion-pricetag"></i> <span>AED 299.00</span></p>
					</div>
					
					<hr class="light">
					<div class="list">
					  <div class="item item-input-inset">
						<label class="item-input-wrapper">
						  <input type="text" placeholder="Enter Promocode">
						</label>
						<button class="button button-assertive icon ion-checkmark"></button>
					  </div>
					</div>
					
					<hr class="light">
			<div class="mbtty text-center">Total<br><span class="tprice">AED 550.00</span></div>
			<a href="#checkout" class="button button-block button-assertive">
			  Proceed to Pay
			</a>
				
				</div>
				
				
				
		</ion-content>          
	</ion-view>
</script> 
<script id="checkout.html" type="text/ng-template">
<ion-header-bar align-title="left" class="bar-assertive">
  <div class="buttons">
    <button class="button button-icon icon ion-navicon"></button>
	<img src="lib/ionic/img/logo_tb_small.png" alt="tixbox.com">
  </div>
  <h1 class="title title-left"></h1>
  <div class="buttons">
    <button class="button button-icon icon ion-ios7-cart"></button>
    <button class="button button-icon icon ion-ios7-gear"></button>
	
  </div>
</ion-header-bar>
	<ion-view title="Cart Page">
		<ion-content>
<div class="list card">
				<div class="pbtty">
					<div class="detTabHeadhold">
						<h2 class="detTabHead_new">ENTER CREDIT CARD DETAILS</h2>
						<div class="tinys_wrapper"></div>
					</div>
				</div>
				<div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">CREDIT/DEBIT CARD NUMBER</span>
    <input type="text" placeholder="CREDIT/DEBIT CARD NUMBER">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">NAME ON CARD</span>
    <input type="text" placeholder="NAME ON CARD">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">EMAIL</span>
    <input type="text" placeholder="EMAIL">
  </label>
  <label class="item selectstyle">
		<span class="input-label mbten">EXPIRY DATE</span>
		<select>
			  <option selected>01</option>
			  <option>02</option>
			  <option>03</option>
		</select>
   </label>
   
   <label class="item selectstyle">
		<span class="input-label mbten">EXPIRY YEAR</span>
		<select>
			  <option selected>2015</option>
			  <option>2016</option>
			  <option>2017</option>
		</select>
   </label>

   
   
   
   <label class="item item-input item-floating-label">
    <span class="input-label">CVC</span>
    <input type="text" placeholder="CVC">
  </label>
   
</div>

 <ul class="list">
  <li class="item item-checkbox item-asserted">
     <label class="checkbox checkbox-assertive">
       <input type="checkbox">
     </label>
     I accept Terms &amp; Conditions
  </li>
</ul> 
  
  <hr class="light">
			
	<a href="#checkout" class="button button-block button-assertive">
	  PAY
	</a>
</div>
		</ion-content>          
	</ion-view>
</script> 
<script id="receipt.html" type="text/ng-template">
<ion-header-bar align-title="left" class="bar-assertive">
  <div class="buttons">
    <button class="button button-icon icon ion-navicon"></button>
	<img src="lib/ionic/img/logo_tb_small.png" alt="tixbox.com">
  </div>
  <h1 class="title title-left"></h1>
  <div class="buttons">
    <button class="button button-icon icon ion-ios7-cart"></button>
    <button class="button button-icon icon ion-ios7-gear"></button>
	
  </div>
</ion-header-bar>
	<ion-view title="Receipt Page">
		<ion-content>
			<div class="card text-center">
				<div class="mbtty"><span class="bigico icon ion-checkmark-circled success"></span><br><p>Congratulations<br>Transaction successful</p></div>
				<div class="well-bg">You have successfully purchased your tickets online. Your e-tickets have been sent to your registered email.<br>Thank you for using Tixbox.com</div>
				<a href="#" class="button button-block button-assertive">VIEW MY TICKETS</a>
			</div>
			
			<div class="card text-center">
				<div class="mbtty"><span class="bigico icon ion-close-circled fail"></span></div>
				<p>Sorry<br>Transaction Failed</p>
				<a href="#" class="button button-block button-assertive">RETRY</a>
			</div>
		</ion-content>          
	</ion-view>
</script> 
<script id="profile.html" type="text/ng-template">
<ion-header-bar align-title="left" class="bar-assertive">
  <div class="buttons">
    <button class="button button-icon icon ion-navicon"></button>
	<img src="lib/ionic/img/logo_tb_small.png" alt="tixbox.com">
  </div>
  <h1 class="title title-left"></h1>
  <div class="buttons">
    <button class="button button-icon icon ion-ios7-cart"></button>
    <button class="button button-icon icon ion-ios7-gear"></button>
	
  </div>
</ion-header-bar>
	<ion-view title="Cart Page">
		<ion-content>
			<div class="list card">

  <a class="item item-icon-left" href="#">
    <i class="icon ion-cash"></i>
    My Wallet
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-person"></i>
    My Profile
  </a>
  
  <a class="item item-icon-left" href="#">
    <i class="icon ion-pricetags"></i>
    My Tickets
  </a>
  
  <a class="item item-icon-left" href="#">
    <i class="icon ion-heart"></i>
    My Wishlist
  </a>
  
  <a class="item item-icon-left" href="#">
    <i class="icon ion-edit"></i>
    Change Password
  </a>


</div>
		</ion-content>          
	</ion-view>
</script> 
<script id="profile-edit.html" type="text/ng-template">
<ion-header-bar align-title="left" class="bar-assertive">
  <div class="buttons">
    <button class="button button-icon icon ion-navicon"></button>
	<img src="lib/ionic/img/logo_tb_small.png" alt="tixbox.com">
  </div>
  <h1 class="title title-left"></h1>
  <div class="buttons">
    <button class="button button-icon icon ion-ios7-cart"></button>
    <button class="button button-icon icon ion-ios7-gear"></button>
	
  </div>
</ion-header-bar>
	<ion-view title="Edit Profile">
		<ion-content>
					
			<div class="list card">
					<div class="detTabHeadhold">
						<h2 class="detTabHead_new">Edit Profile</h2>
						<div class="tinys_wrapper"></div>
					</div>
  <label class="item item-input item-floating-label">
    <span class="input-label">First Name</span>
    <input type="text" placeholder="First Name">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Last Name</span>
    <input type="text" placeholder="Last Name">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="Email">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Mobile Number</span>
    <input type="number" placeholder="Mobile Number">
  </label>
  <label class="item selectstyle">
		<span class="input-label mbten">Gender</span>
		<select>
			  <option selected>Select</option>
			  <option>Male</option>
			  <option>Female</option>
		</select>
   </label>
   <label class="item selectstyle">
		<span class="input-label mbten">City</span>
		<select>
			  <option selected>Select</option>
			  <option>Dubai</option>
			  <option>Abudhabi</option>
		</select>
   </label>
   <label class="item selectstyle">
		<span class="input-label mbten">Country</span>
		<select>
			  <option selected>Select</option>
			  <option>UAE</option>
			  <option>Turkey</option>
			  <option>Brasil</option>
		</select>
   </label>
   <label class="item selectstyle">
		<span class="input-label mbten">Address</span>
		<textarea class="form-control" cols="50" rows="10"></textarea>
   </label>
   <hr class="light">
			
	<a href="#checkout" class="button button-block button-assertive">
	  Save Changes
	</a>
</div>
		</ion-content>          
	</ion-view>
</script> 
<script id="profile-wallet.html" type="text/ng-template">
	<ion-view title="My Wallet">
		<ion-content>
			<div class="card">
					<div class="detTabHeadhold">
						<h2 class="detTabHead_new">My Wallet</h2>
						<div class="tinys_wrapper"></div>
					</div>
					<label class="item item-input item-floating-label">
						<span class="input-label">Amount</span>
						<input type="text" placeholder="Enter Amount to Add">
					</label>
					<hr class="light">
					<div class="mbtty text-center"><p>Current Balance</p><p class="tprice">AED 550.00</p></div>
					<hr class="light">
					<a href="#checkout" class="button button-block button-assertive">
					  Save Changes
					</a>
			</div>
		</ion-content>          
	</ion-view>
</script> 
<script id="profile-ticket.html" type="text/ng-template">
	<ion-view title="Ticket">
		<ion-content>
			<div class="list card">
				<div class="detTabHeadhold">
						<h2 class="detTabHead_new">My Tickets</h2>
						<div class="tinys_wrapper"></div>
					</div>
						
						<div class="item item-divider">
						<i class="icon ion-calendar"></i> &nbsp;<span>Nov 7, 2014, Friday</span>
						</div>				
						<a class="item item-icon-right" href="#">
						  <h2>1399488170</h2>
						  <i class="icon ion-printer"></i>
						</a>
						<a class="item item-icon-right" href="#">
						  <h2>1399145792</h2>
						  <i class="icon ion-printer"></i>
						</a>
						<a class="item item-icon-right" href="#">
						  <h2>1399103571</h2>
						  <i class="icon ion-printer"></i>
						</a>
						
						<hr class="light">
						
						<div class="item item-divider">
						<i class="icon ion-calendar"></i> &nbsp;<span>Nov 5, 2014, Friday</span>
						</div>				
						<a class="item item-icon-right" href="#">
						  <h2>1399488158</h2>
						  <i class="icon ion-printer"></i>
						</a>
	
				</div>
				
		</ion-content>          
	</ion-view>
</script> 
<script id="profile-wishlist.html" type="text/ng-template">
	<ion-view title="Cart Page">
		<ion-content>
			<div class="list card">
<div class="detTabHeadhold">
						<h2 class="detTabHead_new">My Wishlist</h2>
						<div class="tinys_wrapper"></div>
					</div>
    <a class="item item-avatar" href="#">
      <img src="lib/ionic/img/cart1.jpg" width="40">
      <h2>Sensation</h2>
	  <i class="icon ion-calendar"></i> &nbsp;<span>Nov 7, 2014, Friday</span>
    </a>

    <a class="item item-avatar" href="#">
      <img src="lib/ionic/img/cart2.jpg" width="40">
      <h2>Illusionits 2.0</h2>
	  <i class="icon ion-calendar"></i> &nbsp;<span>Nov 7, 2014, Friday</span>
    </a>
	
	<a class="item item-avatar" href="#">
      <img src="lib/ionic/img/cart3.jpg" width="40">
      <h2>Boyzone</h2>
	  <i class="icon ion-calendar"></i> &nbsp;<span>Nov 7, 2014, Friday</span>
    </a>

</div>
		</ion-content>          
	</ion-view>
</script>
</body>
</html>
