<ion-view title="Login">
	<ion-content>
    			
    <div class="padten">
        <!--<div class="detTabHeadhold">
            <h2 class="detTabHead_new">Login to Tixbox</h2>
            <div class="tinys_wrapper"></div>
        </div>-->
        <div class="text-center mbthy mttty"><img src="lib/ionic/img/logo.png" alt="tixbox.com"></div>
		<label class="item item-input">
		<input type="text" placeholder="Email" ng-model="user.email" value="">
		</label>
		<label class="item item-input">
		<input type="password" placeholder="Password" ng-model="user.password" value="">				
		</label>
        
        
        <div class="row">
				  <div class="col">
                  	<button class="button button-block button-large11 button-assertive" class="button" ng-click="onButton1Click(user)">LOGIN</button>
                  </div>
                  <div class="col">
                  	<button class="button button-block button-outline button-large11 button-assertive" class="button" ng-click="onButton1Click(user)">SIGNUP</button>
                  </div>
        </div>
        <div class="text-center mttty mbtty"><a href="#">FORGOT PASSWORD</a></div>
		</div>
		
		
		
        <!--<hr class="light">-->
    </div>
	</ion-content>          
</ion-view>