<ion-header-bar align-title="left" class="bar-assertive">
  <div class="buttons">
    <button class="button button-icon icon ion-navicon"></button>
	<img src="lib/ionic/img/logo_tb_small.png" alt="tixbox.com" class="logoS">
  </div>
  <h1 class="title title-left"><img src="lib/ionic/img/logo_tb_small.png" alt="tixbox.com" class="logoS"> EDIT PROFILE</h1>
  <div class="buttons">
	<button class="button button-icon icon ion-ios7-cart" ng-if="cart.length >= 1" ng-click="showCart()"></button>
    <button class="button button-icon icon ion-ios7-settings-strong" ng-click="showProfile()"></button>	
  </div>
</ion-header-bar>
<ion-view title="Edit Profile">
		<ion-content>
			<div class="padtty">
					<div class="detTabHeadhold">
						<h2 class="detTabHead_new">Edit Profile</h2>
						<div class="tinys_wrapper"></div>
					</div>
  <label class="item item-input item-floating-label">
    <span class="input-label">First Name</span>
    <input type="text" placeholder="First Name">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Last Name</span>
    <input type="text" placeholder="Last Name">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="Email">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Mobile Number</span>
    <input type="number" placeholder="Mobile Number">
  </label>
  <label class="item selectstyle">
		<span class="input-label mbten">Gender</span>
		<select>
			  <option selected>Select</option>
			  <option>Male</option>
			  <option>Female</option>
		</select>
   </label>
   <label class="item selectstyle">
		<span class="input-label mbten">City</span>
		<select>
			  <option selected>Select</option>
			  <option>Dubai</option>
			  <option>Abudhabi</option>
		</select>
   </label>
   <label class="item selectstyle">
		<span class="input-label mbten">Country</span>
		<select>
			  <option selected>Select</option>
			  <option>UAE</option>
			  <option>Turkey</option>
			  <option>Brasil</option>
		</select>
   </label>
   <label class="item selectstyle">
		<span class="input-label mbten">Address</span>
		<textarea class="form-control" cols="50" rows="10"></textarea>
   </label>
			
	<a href="#checkout" class="button button-block button-assertive">
	  Save Changes
	</a>
</div>
		</ion-content>          
</ion-view>
