<ion-header-bar align-title="left" class="bar-assertive">
  <div class="buttons">
    <button class="button button-icon icon ion-ios7-arrow-back" ng-click="goBack()"></button>
  </div>
  <h1 class="title title-left"><img src="lib/ionic/img/logo_tb_small.png" alt="tixbox.com" class="logoS"> MY PROFILE</h1>
  <div class="buttons">
    <button class="button button-icon icon ion-ios7-cart" ng-if="cart.length >= 1" ng-click="showCart()"></button>
    <button class="button button-icon icon ion-ios7-settings" ng-click="showProfile()"></button>
  </div>
</ion-header-bar>
<ion-view title="Edit Profile">
  <ion-content scroll="true">
      <div class="padtty">
      <span class="input-label">Name</span>
      <span class="small">{{profile.data.user.first_name}} {{profile.data.user.last_name}}</span>
      <hr />
      <span class="input-label">Email</span>
      <span class="small">{{profile.data.user.email}}</span>
      <hr />
      <span class="input-label">Mobile Number</span>
      <span class="small">{{profile.data.user_profiles.contact_no}}</span>
      <hr />
      <span class="input-label">Gender</span>
      <span class="small">{{profile.data.user_profiles.gender_name}}</span>
      <hr />
      <span class="input-label">Country/City</span>
      <span class="small">{{profile.data.user_profiles.country_name}} / {{profile.data.user_profiles.city_name}}</span>
      <hr />
      <span class="input-label">Address</span>
      <span class="small">{{profile.data.user_profiles.address}}</span>
      <hr />
	  <!--
      <a href="#/profile/edit" class="button button-block button-assertive"> Edit Profile </a>
	  -->
      </div>
      
  </ion-content>
</ion-view>
