<ion-header-bar align-title="left" class="bar-assertive">
  <div class="buttons">
    <button class="button button-icon icon ion-navicon"></button>
  </div>
  <h1 class="title title-left"><img src="lib/ionic/img/logo_tb_small.png" alt="tixbox.com" class="logoS"> MY PROFILE</h1>
  <div class="buttons">
    <button class="button button-icon icon ion-ios7-cart" ng-if="cart.length >= 1" ng-click="showCart()"></button>
    <button class="button button-icon icon ion-ios7-settings" ng-click="showProfile()"></button>
  </div>
</ion-header-bar>
<ion-view title="Edit Profile">
  <ion-content>
      <div class="padtty">
      <span class="input-label">Name</span>
      <span class="small">Ponnuchamy K</span>
      <hr />
      <span class="input-label">Email</span>
      <span class="small">kpchamy@gmail.com</span>
      <hr />
      <span class="input-label">Mobile Number</span>
      <span class="small">0528866403</span>
      <hr />
      <span class="input-label">Gender</span>
      <span class="small">Male</span>
      <hr />
      <span class="input-label">Country/City</span>
      <span class="small">UAE/Dubai</span>
      <hr />
      <span class="input-label">Address</span>
      <span class="small">203,Dubai<br />alquor<br />uae</span>
      <hr />
      <a href="" class="button button-block button-assertive"> Edit Profile </a>
      </div>
      
  </ion-content>
</ion-view>
