<ion-header-bar align-title="left" class="bar-assertive">
  <div class="buttons">
    <button class="button button-icon icon ion-ios7-arrow-back" ng-click="goBack()"></button>
	<img src="lib/ionic/img/logo_tb_small.png" alt="tixbox.com">
  </div>
  <h1 class="title title-left"></h1>
  <div class="buttons">
    <button class="button button-icon icon ion-ios7-cart" ng-if="cart.length >= 1" ng-click="showCart()"></button>
	<button class="button button-icon icon ion-ios7-person" ng-click="showProfile()"></button>
  </div>
</ion-header-bar>
<ion-view title="Ticket">
	<ion-content>
    <div class="ifcont">
	<iframe ng-src="{{ticket}}" class="iframeBox"></iframe>
    </div>
	</ion-content>          
</ion-view>